<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starrysky.sys.dao.FieldDao">
    <!--映射实体类-->
    <sql id="select_from" >SELECT id, table_name, name_ch, name_en, type, size, type_size, is_null, category FROM s_field</sql>
    <resultMap id="classesResultMap" type="com.starrysky.sys.po.Field">
        <id property="id" column="id"/>
        <result property="table_name" column="table_name"/>
        <result property="name_ch" column="name_ch"/>
        <result property="name_en" column="name_en"/>
        <result property="type" column="type"/>
        <result property="size" column="size"/>
        <result property="type_size" column="type_size"/>
        <result property="is_null" column="is_null"/>
        <result property="category" column="category"/>

    </resultMap>
    <!--查询全部数据-->
    <select id="findAll" parameterType="java.util.List"  resultMap="classesResultMap">
        <include refid="select_from" />
    </select>
    <!--查询-->
    <select id="findById" parameterType="int" resultMap="classesResultMap">
        <include refid="select_from" />  WHERE id=#{id}
    </select>
    <!--按条件查询-->
    <select id="findByCondition" parameterType="com.starrysky.sys.po.Field" resultMap="classesResultMap">
        <include refid="select_from" />
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null">AND id = #{id}</if>
            <if test="table_name != null">AND table_name = #{table_name}</if>
            <if test="name_ch != null">AND name_ch = #{name_ch}</if>
            <if test="name_en != null">AND name_en = #{name_en}</if>
            <if test="type != null">AND type = #{type}</if>
            <if test="size != null">AND size = #{size}</if>
            <if test="type_size != null">AND type_size = #{type_size}</if>
            <if test="is_null != null">AND is_null = #{is_null}</if>
            <if test="category != category">AND category = #{category}</if>
        </trim>
    </select>
    <!--增加-->
    <insert id="doCreate" parameterType="com.starrysky.sys.po.Field">
        INSERT INTO s_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="table_name != null">table_name,</if>
            <if test="name_ch != null">name_ch,</if>
            <if test="name_en != null">name_en,</if>
            <if test="type != null">type,</if>
            <if test="size != null">size,</if>
            <if test="type_size != null">type_size,</if>
            <if test="is_null != null">is_null,</if>
            <if test="category != null">category,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="table_name != null">#{table_name},</if>
            <if test="name_ch != null">#{name_ch},</if>
            <if test="name_en != null">#{name_en},</if>
            <if test="type != null">#{type},</if>
            <if test="size != null">#{size},</if>
            <if test="type_size != null">#{type_size},</if>
            <if test="is_null != null">#{is_null},</if>
            <if test="category != null">#{category},</if>
        </trim>
    </insert>
    <!--更新-->
    <update id="doUpdate" parameterType="com.starrysky.sys.po.Field">
        UPDATE s_field
        <trim prefix="SET" suffixOverrides=",">
            <if test="table_name != null">table_name=#{table_name},</if>
            <if test="name_ch != null">name_ch=#{name_ch},</if>
            <if test="name_en != null">name_en=#{name_en},</if>
            <if test="type != null">type=#{type},</if>
            <if test="size != null">size=#{size},</if>
            <if test="type_size != null">type_size=#{type_size},</if>
            <if test="is_null != null">is_null=#{is_null},</if>
            <if test="category != null">category=#{category},</if>
        </trim>
        WHERE id=#{id}
    </update>
    <!--批量删除-->
    <delete id="doRemoveBatch" parameterType="java.util.List">
        DELETE FROM s_field
        <where>
            id IN
            <foreach collection="list" item="ele" open="(" separator="," close=")">
                '${ele}'
            </foreach>
        </where>
    </delete>
    <!--删除-->
    <delete id="doRemove" parameterType="int">
        DELETE FROM s_field  WHERE id = #{id}
    </delete>

    <!--获得数据库字段信息 autoMapping：设置是否启动自动映射功能-->
    <resultMap id="databaseFieldMap" type="com.starrysky.sys.po.Field" autoMapping="false">
        <id property="id" column="id"/>
        <result property="table_name" column="table_name"/>
        <result property="name_ch" column="column_comment"/>
        <result property="name_en" column="column_name"/>
        <result property="type" column="data_type"/>
        <!--<result property="size" column="size"/>-->
        <result property="type_size" column="column_type"/>
        <result property="is_null" column="is_nullable"/>
        <result property="category" column="column_key"/>
    </resultMap>
    <select id="getDatabaseField" resultMap="databaseFieldMap">
        CALL get_database_field()
    </select>
</mapper>