<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starrysky.sys.dao.FkFieldDao">
    <!--映射实体类-->
    <sql id="select_from" >SELECT id, fk_name_en, table_name_en, field_name_en, referenced_table_name_en, referenced_field_name_en FROM s_fk_field</sql>
    <resultMap id="classesResultMap" type="com.starrysky.sys.po.FkField">
        <id property="id" column="id"/>
        <result property="fk_name_en" column="fk_name_en"/>
        <result property="table_name_en" column="table_name_en"/>
        <result property="field_name_en" column="field_name_en"/>
        <result property="referenced_table_name_en" column="referenced_table_name_en"/>
        <result property="referenced_field_name_en" column="referenced_field_name_en"/>
    </resultMap>
    <!--查询全部数据-->
    <select id="findAll" parameterType="java.util.List"  resultMap="classesResultMap">
        <include refid="select_from" />
    </select>
    <!--查询-->
    <select id="findById" parameterType="int" resultMap="classesResultMap">
        <include refid="select_from" />  WHERE id=#{id}
    </select>
    <!--按条件查询-->
    <select id="findByCondition" parameterType="com.starrysky.sys.po.FkField" resultMap="classesResultMap">
        <include refid="select_from" />
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="fk_name_en != null">AND fk_name_en = #{fk_name_en}</if>
            <if test="table_name_en != null">AND table_name_en = #{table_name_en}</if>
            <if test="field_name_en != null">AND field_name_en = #{field_name_en}</if>
            <if test="referenced_table_name_en != null">AND referenced_table_name_en = #{referenced_table_name_en}</if>
            <if test="referenced_field_name_en != null">AND referenced_field_name_en = #{referenced_field_name_en}</if>
        </trim>
    </select>
    <!--增加-->
    <insert id="doCreate" parameterType="com.starrysky.sys.po.FkField">
        INSERT INTO s_fk_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fk_name_en != null">fk_name_en,</if>
            <if test="table_name_en != null">table_name_en,</if>
            <if test="field_name_en != null">field_name_en,</if>
            <if test="referenced_table_name_en != null">referenced_table_name_en,</if>
            <if test="referenced_field_name_en != null">referenced_field_name_en,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fk_name_en != null">#{fk_name_en},</if>
            <if test="table_name_en != null">#{table_name_en},</if>
            <if test="field_name_en != null">#{field_name_en},</if>
            <if test="referenced_table_name_en != null">#{referenced_table_name_en},</if>
            <if test="referenced_field_name_en != null">#{referenced_field_name_en},</if>
        </trim>
    </insert>
    <!--更新-->
    <update id="doUpdate" parameterType="com.starrysky.sys.po.FkField">
        UPDATE s_fk_field
        <trim prefix="SET" suffixOverrides=",">
            <if test="fk_name_en != null">fk_name_en=#{fk_name_en},</if>
            <if test="table_name_en != null">table_name_en=#{table_name_en},</if>
            <if test="field_name_en != null">field_name_en=#{field_name_en},</if>
            <if test="referenced_table_name_en != null">referenced_table_name_en=#{referenced_table_name_en},</if>
            <if test="referenced_field_name_en != null">referenced_field_name_en=#{referenced_field_name_en},</if>
        </trim>
        WHERE id=#{id}
    </update>
    <!--批量删除-->
    <delete id="doRemoveBatch" parameterType="java.util.List">
        DELETE FROM s_fk_field
        <where>
            id IN
            <foreach collection="list" item="ele" open="(" separator="," close=")">
                '${ele}'
            </foreach>
        </where>
    </delete>
    <!--删除-->
    <delete id="doRemove" parameterType="int">
        DELETE FROM s_fk_field  WHERE id = #{id}
    </delete>


    <!--获得数据库表信息 autoMapping：设置是否启动自动映射功能-->
    <resultMap id="databaseFkFieldMap" type="com.starrysky.sys.po.FkField" autoMapping="false">
        <id property="id" column="id"/>
        <result property="fk_name_en" column="constraint_name"/>
        <result property="table_name_en" column="table_name"/>
        <result property="field_name_en" column="column_name"/>
        <result property="referenced_table_name_en" column="referenced_table_name"/>
        <result property="referenced_field_name_en" column="referenced_column_name"/>
    </resultMap>
    <select id="getDatabaseFkField" resultMap="databaseFkFieldMap">
        CALL get_database_fk_field()
    </select>

</mapper>