<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starrysky.sys.dao.ManDao">
    <!--映射实体类-->
    <sql id="select_from" >SELECT id, name, sex, age,phone,address FROM t_man</sql>
    <resultMap id="classesResultMap" type="com.starrysky.sys.po.Man">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <!--<association property="creationMan" column="creation_man_id" select="findCreationById"/>-->
    </resultMap>
    <!--映射 创建人 实体类
    <resultMap id="creationManMap" type="com.starrysky.sys.vo.Man">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>-->
    <!--查询创建人
    <select id="findCreationById" parameterType="int" resultMap="creationManMap">
        SELECT * FROM t_man WHERE id=#{creation_man_id}
    </select>-->

    <!--查询全部数据-->
    <select id="findAll"  resultMap="classesResultMap">
        <include refid="select_from" />
    </select>
    <!--查询-->
    <select id="findById" parameterType="int" resultMap="classesResultMap">
        <include refid="select_from" />  WHERE id=#{id}
    </select>
    <!--按条件查询-->
    <select id="findByCondition" parameterType="com.starrysky.sys.po.Man" resultMap="classesResultMap">
        <include refid="select_from" />
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="name != null">
                AND name LIKE CONCAT(CONCAT('%', #{name}),'%')
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
            <if test="phone != null">
                AND phone LIKE CONCAT(CONCAT('%', #{phone}),'%')
            </if>
            <if test="address != null">
                AND address LIKE CONCAT(CONCAT('%', #{address}),'%')
            </if>
        </trim>
    </select>
    <!--增加-->
    <insert id="doCreate" parameterType="com.starrysky.sys.po.Man">
        INSERT INTO t_man
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null">address,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="phone != null">#{phone},</if>
            <if test="address != null">#{address},</if>
        </trim>
    </insert>
    <!--更新-->
    <update id="doUpdate" parameterType="com.starrysky.sys.po.Man">
        UPDATE t_man
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name=#{name},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="age != null">age=#{age},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="address != null">address=#{address},</if>
        </trim>
        WHERE id=#{id}
    </update>
    <!--批量删除-->
    <delete id="doRemoveBatch" parameterType="java.util.List">
        DELETE FROM t_man
        <where>
            id IN
            <foreach collection="list" item="ele" open="(" separator="," close=")">
                '${ele}'
            </foreach>
        </where>
    </delete>
    <!--删除-->
    <delete id="doRemove" parameterType="int">
        DELETE FROM t_man  WHERE id = #{id}
    </delete>


</mapper>