<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starrysky.base.dao.GeneralPurposeDao">
    <sql id="table_name_en" >${tableNameEN}</sql>
    <sql id="select_from" >
        SELECT <foreach collection="fieldList" index="index" item="item" separator="," >${item}</foreach> FROM <include refid="table_name_en" />
    </sql>
    <!--增加-->
    <insert id="doCreate" parameterType="com.starrysky.base.po.GeneralPurpose">
        INSERT INTO <include refid="table_name_en" />
        <trim prefix="(" suffix=")" >
            <foreach collection="createMap" index="index" item="item" separator="," ><if test="item != null and !index.equals('id')"> ${index}</if></foreach>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="createMap" index="index" item="item" separator="," ><if test="item != null and !index.equals('id')">#{item}</if></foreach>
        </trim>
    </insert>
    <!--批量删除-->
    <delete id="doRemoveBatch" parameterType="com.starrysky.base.po.GeneralPurpose">
        DELETE FROM <include refid="table_name_en" />
        <where>
            <choose>
                <when test="removeList != null and removeList.size()!=0">
                    id IN
                    <foreach collection="removeList" item="item" open="(" separator="," close=")">
                        '${item}'
                    </foreach>
                </when >
                <otherwise>
                    1=2
                </otherwise>
            </choose>
        </where>
    </delete>
    <!--删除-->
    <delete id="doRemove" parameterType="com.starrysky.base.po.GeneralPurpose">
        DELETE FROM <include refid="table_name_en" />
        <where>
            <choose>
                <when test="remove != null">
                    id = #{remove}
                </when >
                <otherwise>
                    1=2
                </otherwise>
            </choose>
        </where>
    </delete>
    <!--更新-->
    <update id="doUpdate" parameterType="com.starrysky.base.po.GeneralPurpose">
        UPDATE <include refid="table_name_en" />
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="updateMap" index="index" item="item" separator="," ><if test="item != null and !index.equals('id')">${index}=#{item}</if></foreach>
        </trim>
        WHERE
        <choose>
            <when test="updateMap.get('id') !=null ">
                id = ${updateMap.get("id")}
            </when >
            <otherwise>
                1=2
            </otherwise>
        </choose>
    </update>
    <!--查询全部数据-->
    <select id="findAll" parameterType="com.starrysky.base.po.GeneralPurpose" resultType="java.util.Map">
        <include refid="select_from" />
    </select>
    <!--按id查询数据-->
    <select id="findById" parameterType="com.starrysky.base.po.GeneralPurpose" resultType="java.util.Map">
        <include refid="select_from" />
        <where>
            <foreach collection="fieldPkMap" index="index" item="item" separator=" AND " >
                <choose>
                  <when test="item != null"> ${index}=#{item} </when><otherwise>1=2</otherwise>
                </choose>
            </foreach>
        </where>
    </select>
    <!--按条件查询-->
    <select id="findByCondition" parameterType="java.util.Map" resultType="java.util.Map">
        <include refid="select_from" />
        <where>
            <foreach collection="findMap" index="index" item="item" separator="AND " >
                <if test="item != null">${index}=#{item}</if>
            </foreach>
        </where>
    </select>
    <!--根据表名称查找-->
    <select id="findByTableName" parameterType="com.starrysky.base.po.GeneralPurpose" resultType="java.util.Map">
        SELECT <foreach collection="FIELD_NAME_LIST" index="index" item="item" separator="," >${item}</foreach> FROM ${TABLE_NAME_EN}
        WHERE
        <choose>
            <when test="tableNameEN !=null ">
                table_name=#{tableNameEN}
            </when >
            <otherwise>
                1=2
            </otherwise>
        </choose>
    </select>
    <!--获得数据库字段信息 autoMapping：设置是否启动自动映射功能-->
    <resultMap id="databaseFieldMap" type="java.util.Map" autoMapping="false">
        <id property="id" column="id"/>
        <result property="table_name" column="table_name"/>
        <result property="name_ch" column="column_comment"/>
        <result property="name_en" column="column_name"/>
        <result property="type" column="data_type"/>
        <!--<result property="size" column="size"/>-->
        <result property="type_size" column="column_type"/>
        <result property="is_null" column="is_nullable"/>
        <result property="category" column="column_key"/>
    </resultMap>
    <select id="getDatabaseField" resultMap="databaseFieldMap">
        CALL get_database_field()
    </select>
    <!--获得数据库表信息 autoMapping：设置是否启动自动映射功能-->
    <resultMap id="databaseTableMap" type="java.util.Map" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name_ch" column="table_comment"/>
        <result property="name_en" column="table_name"/>
    </resultMap>
    <select id="getDatabaseTable" resultMap="databaseTableMap">
        CALL get_database_table()
    </select>


</mapper>