<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starrysky.base.dao.TableDao">
    <!--映射实体类-->
    <sql id="select_from" > SELECT id, name, id_name FROM s_table </sql>
    <resultMap id="classesResultMap" type="com.starrysky.base.po.Table">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="idName" column="id_name"/>
        <association property="fieldList" column="table_name" select="findByIdField"/>
    </resultMap>
    <!--字段-->
    <resultMap id="fieldListMap" type="com.starrysky.base.po.Field">
        <id property="id" column="id"/>
        <result property="tableName" column="table_name"/>
        <result property="name" column="name"/>
        <result property="idName" column="id_name"/>
        <result property="type" column="type"/>
        <result property="size" column="size"/>
        <result property="typeSize" column="type_size"/>
        <result property="isNull" column="is_null"/>
    </resultMap>
    <!--查询字段-->
    <select id="findByIdField" parameterType="int" resultMap="fieldListMap">
        SELECT id, table_name, name, id_name,type,size,type_size,is_null FROM s_field WHERE table_name=#{table_name}
    </select>
    <!--增加-->
    <insert id="doCreate" parameterType="com.starrysky.base.po.Table">
        INSERT INTO s_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="idName != null">id_name,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="idName != null">#{idName},</if>
        </trim>
    </insert>
    <!--批量删除-->
    <delete id="doRemoveBatch" parameterType="java.util.List">
        DELETE FROM s_table
        <where>
            <choose>
                <when test="list != null and list.size()!=0">
                    id IN
                    <foreach collection="list" item="item" open="(" separator="," close=")">
                        '${item}'
                    </foreach>
                </when >
                <otherwise>
                    1=2
                </otherwise>
            </choose>
        </where>
    </delete>
    <!--删除-->
    <delete id="doRemove" parameterType="int">
        DELETE FROM s_table WHERE id = #{id}
    </delete>
    <!--更新-->
    <update id="doUpdate" parameterType="com.starrysky.base.po.Table">
        UPDATE s_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name=#{name},</if>
            <if test="idName != null">id_name=#{idName},</if>
        </trim>
        WHERE
        <choose>
            <when test="id !=null ">
                id=#{id}
            </when >
            <otherwise>
                1=2
            </otherwise>
        </choose>
    </update>
    <!--查询全部数据-->
    <select id="findAll" resultMap="classesResultMap">
        <include refid="select_from" />
    </select>
    <!--按id查询数据-->
    <select id="findById" parameterType="int" resultMap="classesResultMap">
        <include refid="select_from" /> WHERE id=#{id}
    </select>
    <!--按条件查询-->
    <!--<select id="findByCondition" parameterMap="java.util.Map" resultMap="java.util.Map">
        <include refid="select_from" />
        <where>
            <foreach collection="find" index="index" item="item" separator="AND " >
                <if test="item != null">${index}=#{item}</if>
            </foreach>
        </where>
    </select>-->
    <resultMap id="databaseTableMap" type="com.starrysky.base.po.Table">
        <id property="id" column="id"/>
        <result property="name" column="table_comment"/>
        <result property="idName" column="table_name"/>
    </resultMap>
    <select id="getDatabaseTable" resultMap="databaseTableMap">
        CALL get_database_table()
    </select>
</mapper>